<!doctype html>
<html><head>{{ head() }}</head><body><nav>{{ nav_label }} <a href="/dash/servers">dash</a> <a href="/slow/servers">slow</a> <span class="visits">visits {{ visits }}</span></nav><main>{{ slot(name="content") }}</main></body></html>
