body {
  font-family: sans-serif;
  background-color: #fff; /* Try changing this color! */
  color: #333;
  margin: 2em;
}

header {
  border-bottom: 2px solid #ccc;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

footer {
  border-top: 1px solid #eee;
  margin-top: 2em;
  padding-top: 1em;
  font-size: 0.8em;
  color: #777;
}